.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.App-main {
  margin: 0 auto;
  font-size: 1.5em;
  height: 60vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: row wrap;
  max-width: 34vw;

}
.row {
  display: flex;
  flex-direction: row;
}
.tile {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  border: 1px solid grey;
  background-color: #cfcfcf;
  margin: 0.5px;
  font-size: 2vw;
  padding: 0.15vw;
  text-align: center;
}
input:disabled {
  color: red;
}
input:active {
  background-color: yellow;
}

.red {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
