.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.App-main {
  margin: 0 auto;
  font-size: 1.5em;
  height: 60vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: row wrap;
  max-width: 34vw;
  border-left: 2px solid black;


}
.row {
  display: flex;
  flex-direction: row;
}
.tile {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  border: 1px solid grey;
  background-color: #cfcfcf;
  margin: 0.5px;
  font-size: 2vw;
  padding: 0.15vw;
  text-align: center;
  }

.tile:nth-of-type(3n) {
  border-right: 2px solid black;
 }
.tile:nth-of-type(27n+19) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+20) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+21) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+22) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+23) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+24) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+25) {
  border-bottom: 2px solid black;
}
.tile:nth-of-type(27n+26) {
  border-bottom: 2px solid black;
}.tile:nth-of-type(27n+27) {
  border-bottom: 2px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     margin: 0;
 }
input:disabled {
  color: red;
}
input:active {
  background-color: #cfcfcf;
  color: green;
  font-size: 1.5vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
